Magic 271485
Revision Verdi_O-2018.09-SP2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 27 2560 575 327 121

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/xuhao/moddiv/mochu_moni_32/rtl.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 644954.150038 648076.899338
cursor 20.000000
marker 646200.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 8

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/xuhao/moddiv/mochu_moni_32/rtl.fsdb"
addSignal -h 15 /MINV_MDIV_tb/MINV_MDIV/datain[31:0]
addSignal -h 15 -holdScope minv_mdiv
addSignal -h 15 -holdScope clk
addSignal -c ID_PURPLE5 -ls solid -lw 1 -h 15 -holdScope minv_mdiv_rdy
addSignal -h 15 /MINV_MDIV_tb/MINV_MDIV/MINV_MDIV_DATAPATH/RDY_FLA_REG/mmul_en
addSignal -c ID_PURPLE5 -ls solid -lw 1 -h 15 /MINV_MDIV_tb/MINV_MDIV/MINV_MDIV_CONTROL/out_ready
addSignal -h 15 -holdScope out_valid
addSignal -h 15 -holdScope out_ready
addSignal -h 15 -holdScope nxt_state[3:0]
addSignal -h 15 -holdScope set_minv_rdy
addSignal -h 15 /MINV_MDIV_tb/MINV_MDIV/minv_mdiv_flag
addSignal -h 15 -holdScope regx1out[31:0]
addSignal -h 15 /MINV_MDIV_tb/MINV_MDIV/MINV_MDIV_DATAPATH/regx2/RR_SHI_REG_MDY_CLR/regin[31:0]
addSignal -h 15 /MINV_MDIV_tb/MINV_MDIV/MINV_MDIV_CONTROL/minv_flag_we
addSignal -c ID_PURPLE5 -ls solid -lw 1 -h 15 /MINV_MDIV_tb/MINV_MDIV/MINV_MDIV_DATAPATH/regx2/RR_SHI_REG_MDY_CLR/REG_32_7/we
addSignal -h 15 /MINV_MDIV_tb/MINV_MDIV/regx2out[31:0]
addSignal -h 15 -holdScope loada
addSignal -h 15 -holdScope loadp
addSignal -h 15 /MINV_MDIV_tb/MINV_MDIV/MINV_MDIV_CONTROL/cur_state[3:0]
addSignal -h 15 -holdScope nxt_state[3:0]
addGroup "X1"
addSignal -h 15 /MINV_MDIV_tb/MINV_MDIV/MINV_MDIV_DATAPATH/regx1/we
addSignal -h 15 -holdScope sel_cyc
addSignal -h 15 -holdScope sel_rs
addSignal -h 15 -holdScope regin[31:0]
addSignal -h 15 -holdScope regout[31:0]
addSignal -h 15 /MINV_MDIV_tb/MINV_MDIV/COUNTER/count[2:0]
addGroup "G3"
addSignal -h 15 /MINV_MDIV_tb/MINV_MDIV/MINV_MDIV_DATAPATH/regx2/RR_SHI_REG_MDY_CLR/we
addSignal -h 15 -holdScope sel_rs
addSignal -h 15 -holdScope regout[31:0]
addGroup "G4"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

